
@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  src: local('Awesome-Font'), local('Awesome-Font-Regular'), url('./assets/fonts/GloriaHallelujah-Regular.woff') format('woff');
}

::-webkit-scrollbar {
  display: none;
}
html {
  height: 100%;
  background-color: #009688;
  font-family: 'Gloria Hallelujah', cursive;
}

a:hover {
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

a:-webkit-any-link:hover {
  text-decoration: none;
  color: inherit;
}

.aboutBadge {
  margin-top: 2px;
  font-family: 'Gloria Hallelujah', cursive;
  cursor: pointer;
  color: black;
}

.aboutBadge:hover {
  margin-top: 2px;
  font-family: 'Gloria Hallelujah', cursive;
  cursor: pointer;
  background-color: #009688;
  color: white;
}

span.badge:hover {
  font-family: 'Gloria Hallelujah', cursive;
  cursor: pointer;
  background-color: #009688;
  color: white;
}

body {
  overflow-x: hidden;
  background-color: #009688;
  font-family: 'Gloria Hallelujah', cursive;
}

button{
  outline: none !important;
}

input {
  outline: none !important;
}

label > span {
  font-family: 'Gloria Hallelujah', cursive !important;
}

a > span {
  font-family: 'Gloria Hallelujah', cursive !important;
}

h1{
  color: white;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  font-family: 'Gloria Hallelujah', cursive;
}

p{
  color: white;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  font-family: 'Gloria Hallelujah', cursive;
}

label{
  color: white;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  font-family: 'Gloria Hallelujah', cursive;
}

.buttonActionColor{
  background-color: #00675b !important;
  color: white !important;
}

.navbar {
  position: fixed !important; 
  width: 100%;
  z-index: 999;
  height: 4.5vh;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.app .jumbotron {
  text-align: center;
  background-color: #009688;
}

.app .card-header {
  color: white;
  font-weight: bold;
}

.my-button {
  margin-left: 0px;
  cursor: pointer;
}

.my-button-close {
  margin-left: 0px;
  padding-left: 4px;
  margin-left: -15px;
  cursor: pointer;
}

.my-button:hover {
  color: white;
}

.my-button-close:hover {
  color: white;
}

.not-allowed {
  cursor: not-allowed;
}

.titlebar {
  -webkit-app-region: drag;
}

.jumbotron{
  height: 100vh;
  background-color: #009688 !important;
  border-radius: 0% !important;
}


/* my collorss */

.r-dark{
  background-color: #00675b;
}